<%- include('../includes/head.ejs') %>
</head>
<body class="body">
    <header class="main-header">
        <%- include('../includes/navigation.ejs') %>
    </header>
    <main>
        <form class="product-form" action="/addproduct" method="POST">
            <div class="form-control">
                <label title="Title"name="Title">Title</label>
                <input type="text" name="Title" title="Title">
            </div>
            <div class="form-control">
                <label title="Cost"name="Cost">Cost</label>
                <input type="number" name="Cost" title="Cost" step="0.01">
            </div>
            <div class="form-control">
                <label title="Description"name="Description">Description</label>
                <textarea type="textarea" name="Description" title="Description" rows="5"></textarea>
            </div>
            <div class="form-control">
                <label title="ProductLink"name="ProductLink">Product Link</label>
                <input type="url" name="ProductLink" title="ProductLink">
            </div>
            <button class="button" type="submit">Add Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>