<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product11 Catelog</title>
    <link rel="stylesheet" href="/css/main.css"> 
</head>
<body class="body">
    <header class="main-header">
        <nav class = "mail-header_nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/catelog">Product Catelog</a></li>
                <li class="main-header__item"><a href="/product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <h1>Product List</h1>
            <h3>Liste all products here </h3>
    </main>
</body>
</html>